
h1 {
    color: #830cc4; 
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    width: 300px;
    height: 5px;
    background-color:#830cc4; 
    margin: 10px auto;
}


table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}


th {
    background-color: #830cc4;
    color: #FFFFFF;
    padding: 15px;
    font-weight;
    text-align: left;
    border: 1px solid #000000;
}


tr:nth-child(odd) {
    background-color:#e5b3Fe; 
}

tr:nth-child(even) {
    background-color: #F3d9FF; 
}


td {
    padding: 12px;
    border: 1px solid #000000; 
}